################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AvatarAPI/obj
/AvatarAPI/bin/Debug/net7.0
